<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>



  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />



    <add key="RtmpServerIp" value="192.168.8.138" />
    <!--livevideoSDK集成 start -->
    <!--app上传根文件-->
    <add key="LiveVideoSDK_FilePath" value="~/UploadFiles" />
    <!--app上传文件格式化-->
    <add key="LiveVideoSDK_FileFormat" value="/{yyyy}{mm}{dd}/" />
    <!--实时通信个人监听信息-->
    <add key="LiveVideoSDK_Persion" value="user/" />
    <!--实时通信群组监听信息-->
    <add key="LiveVideoSDK_Group" value="group/" />
    <!--流媒体服务器地址 -->
    <add key="LiveVideoSDK_RtmpUrl" value="rtmp://192.168.8.139:1935/" />
    <!--实时通信代理 默认端口1883-->
    <add key="LiveVideoSDK_IM_Ip" value="192.168.8.138" />
    <!--视频会议、视频电话，实时语音通话服务器 -->
    <add key="LiveVideoSDK_Call_Ip" value="192.168.8.138" />
    <!--API接口地址 -->
    <add key="LiveVideoSDK_ApiUrl" value="http://192.168.8.139:666/api/do/" />
    <!--livevideoSDK集成 end -->

  </appSettings>
  <connectionStrings>
    <add name="DBLiveVideoEntities" connectionString="metadata=res://*/Entity.DBEntities.csdl|res://*/Entity.DBEntities.ssdl|res://*/Entity.DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.8.249\SQLEXPRESS;initial catalog=dbCFP;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBLiveVideoEntitiesCon" connectionString="server=192.168.8.249\SQLEXPRESS;database=dbCFP;uid=sa;password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.7.0" newVersion="6.10.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
